<%- include('../partials/head.ejs') %>

<div class="site-content" data-template="<%= base; %>" data-page="<%= pageId; %>">
    <canvas id="webgl"></canvas>
</div>

<%- include('../partials/end.ejs') %>