/*
* Atomic CSS
* https://github.com/viivue/atomic-css
* Customized by Vu but this library belongs to ViiVue
*/

// todo: edit _config.scss only

@use 'sass:math';
@use 'sass:map';
@import './defs';
@import './config';

////////////////////////////// Functions
@function strip-units($number) {
  @return math.div($number, ($number * 0 + 1));
}

@function get-unit($value) {
  @return str-slice($value * 0 + "", 2, -1);
}

@function format-postfix($postfix) {
  $unit: get-unit($postfix);

  @return if($unit == '%', strip-units($postfix) + 'p', strip-units($postfix));
}

// get formatted value
@function format-value($value) {
  // 0px => 0
  @if $value == 0px or $value == 0 {
    @return 0;
  }

  // default unit is px
  @return to-number(if(unitless($value), unquote($value+'px'), $value));
}

// Is valid breakpoint
@function is-breakpoint($breakpoint) {
  @return map-has-key($breakpoints, $breakpoint);
}

// get previous breakpoint in responsive $data
//(
//  "values": 0 4 8 16 24 32 48 64 96 128,
//  "md": 0 4 8 15 22 30 46 60 90 120
//)
// get-previous-breakpoint(md,...) => "values"
@function get-previous-breakpoint($breakpoint,$data) {
  $keys: map-keys($data);
  $current_index: index($keys, $breakpoint);
  $previous_index: $current_index - 1;

  // first index is 1 (yes, not 0!!!)
  @if $previous_index < 1 {
    $previous_index: 1;
  }

  //@debug "Current #{$breakpoint} -> Prev #{nth($keys, $previous_index)}";

  @return nth($keys, $previous_index);
}


// get previous breakpoint value base on responsive breakpoint
//(
//  "values": 0 4 8 16 24 32 48 64 96 128,
//  "md": 0 4 8 15 22 30 46 60 90 120
//  "sm": 0 4 8 15 22 30 46 60 90 80
//)
// get-postfix(120,md,...) => 128
// get-postfix(80,sm,...) => 128
@function get-previous-breakpoint-value($index,$value,$current_breakpoint,$data) {
  @if is-breakpoint($current_breakpoint) {
    $default_values: map-get($data, "values");
    $previous_values: map-get($data, get-previous-breakpoint($current_breakpoint, $data));
    $current_values: map-get($data, $current_breakpoint);
    $previous_val: nth($previous_values, $index);

    // if responsive value is different
    @if $previous_val != $value {
      @return nth($previous_values, $index);
    }

    //@debug "----";
    //@debug "default: "+$result+" | #{$current_breakpoint}: "+$value;
  }

  // not found responsive value
  @return $value;
}

@function get-desktop-value($index,$data) {
  $default_values: map-get($data, "values");
  @return nth($default_values, $index);
}

///
/// Casts a string into a number
///
/// @param {String | Number} $value - Value to be parsed
///
/// @return {Number}
///
@function to-number($value) {
  @if type-of($value) == 'number' {
    @return $value;
  } @else if type-of($value) != 'string' {
    @warn ('Value for `to-number` should be a number or a string.');
  }

  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);

    @if not (index(map-keys($numbers), $character) or $character == '.') {
      @return to-length(if($minus, -$result, $result), str-slice($value, $i))
    }

    @if $character == '.' {
      $digits: 1;
    } @else if $digits == 0 {
      $result: $result * 10 + map-get($numbers, $character);
    } @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }

  @return if($minus, -$result, $result);
}

///
/// Add `$unit` to `$value`
///
/// @param {Number} $value - Value to add unit to
/// @param {String} $unit - String representation of the unit
///
/// @return {Number} - `$value` expressed in `$unit`
///
@function to-length($value, $unit) {
  $units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);

  @if not index(map-keys($units), $unit) {
    @warn ('Invalid unit `#{$unit}`.');
  }

  @return $value * map-get($units, $unit);
}

@function str-split($string, $separator) {
  // empty array/list
  $split-arr: ();
  // first index of separator in string
  $index: str-index($string, $separator);
  // loop through string
  @while $index != null {
    // get the substring from the first character to the separator
    $item: str-slice($string, 1, $index - 1);
    // push item to array
    $split-arr: append($split-arr, $item);
    // remove item and separator from string
    $string: str-slice($string, $index + 1);
    // find new index of separator
    $index: str-index($string, $separator);
  }
  // add the remaining string to list (the last item)
  $split-arr: append($split-arr, $string);

  @return $split-arr;
}

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// align-items => al
@function shorten-prop($prop) {
  $split-prop: str-split($prop, "-");
  $short-prefix: '';
  @each $word in $split-prop {
    $short-prefix: str-insert($short-prefix, str-slice($word, 0, 1), 100);
  }
  @return $short-prefix;
}

// ignore based on prop:val
@function is-ignored($search-prop, $search-value) {
  @each $val, $props in $ignore {
    @if $val == $search-value and index($props,$search-prop) != null {
      @return true;
    }
  }

  @return false;
}

@function replace-prop($search-prop) {
  @if map-has-key($replace_prop, $search-prop) {
    @return map-get($replace_prop, $search-prop);
  }

  // to string
  $search-prop: $search-prop+"";

  // remove %
  $search-prop: str-replace($search-prop, "%", "");

  // remove dot
  $search-prop: str-replace($search-prop, ".", "");

  @return $search-prop;
}

////////////////////////////// Mixins

// Get minix
@mixin get-mixin($name) {
  @if ($name==break-word) {
    @include break-word;
  }
}

// A utility class combining all word-break strategies
// when you absolutely must break a word.
@mixin break-word {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

/// Manage responsive breakpoints
@mixin media-screen($breakpoint) {
  @if is-breakpoint($breakpoint) {
    /* Breakpoint #{$breakpoint} */
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin responsive($breakpoint,$value,$postfix) {
  @if is-breakpoint($breakpoint) {
    // skip not responsive values
    //@debug $value + ' - ' + $postfix +' -> '+format-value($value) +' - '+ format-value($postfix);

    @if format-value($value) != format-value($postfix) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin print($dataset) {
  @each $prop, $data in $dataset {
    $input-type: type-of($data);
    $value: $data;
    $prefix: shorten-prop($prop);

    $has_hyphen: true;
    $has_type: false;
    $is_mixin: false;
    $is_value_key_as_postfix: false;
    $is_inline: false;

    @if ($input-type=='map') {
      $value: map-get($data, "value");
      $prefix: map-get($data, "prefix");

      // has hyphen
      @if map-has-key($data, "hyphen") {
        $has_hyphen: map-get($data, "hyphen");
      }

      // type
      $has_type: map-has-key($data, "type");
      $type: map-get($data, "type");
      $is_value_key_as_postfix: $has_type and $type == value-key-as-postfix;
      $is_mixin: $has_type and $type == mixin;

      // auto prefix for type map
      @if ($input-type=='map' and not map-has-key($data, "prefix") and not $is_mixin) {
        $prefix: shorten-prop($prop);
      }

      // type: inline
      @if map-has-key($data, "inline") {
        $type: inline;
        $is_inline: true;
      }
    }

    /* #{$prop} */
    @debug "------v------";
    @debug #{$prop};

    // Type: default
    @if (not $has_type) {
      @debug "Type: default";
      $hyphen: "-";
      @if not $has_hyphen {
        $hyphen: '';
      }

      @each $val in $value {
        @if not is-ignored($prop, $val) {
          .#{$prefix}#{$hyphen}#{replace-prop($val)} {
            #{$prop}: #{$val};
          }
        }
      }
    }

    // Type: mixin
    @if ($is_mixin) {
      @debug "Type: Mixin";

      $mixin: map-get($data, "mixin");

      // use prop as a fallback mixin name
      @if (not $mixin) {
        $mixin: $prop;
      }

      .#{$prop} {
        @include get-mixin($mixin);
      }
    }

    // Type: value-key-as-postfix
    @if ($is_value_key_as_postfix) {
      @debug "Type: value-key-as-postfix";

      @each $postfix, $val in $value {
        @if $val and not is-ignored($prop, $val) {
          .#{$prefix}-#{replace-prop($postfix)} {
            #{$prop}: #{$val};
          }
        }
      }
    }

    // Type: inline
    @if ($is_inline) {
      $inline: map-get($data, 'inline');
      @if map-has-key($data, 'selectors') {
        @include get-inline(map-get($data, 'selectors'), $inline);
      } @else {
        @include get-inline(str-insert($prop, '.', -100), $inline);
      }
    }

  }
}

@mixin get-inline-item($prop_val) {
  $parts: str-split($prop_val, ':');
  $prop: nth($parts, 1);
  $val: nth($parts, 2);
  #{$prop}: #{$val};
}

@mixin get-inline($prop, $inline) {
  #{$prop} {
    @if type-of($inline) == 'list' {
      @each $prop_val in $inline {
        @include get-inline-item($prop_val);
      }
    }

    @if type-of($inline) == 'string' {
      @include get-inline-item($inline);
    }
  }
}


// Print CSS variables
@mixin print-var-prop($prefix,$name,$value) {
  @if $value != '' {
    $project-prefix: '';

    @if map-has-key($info, 'variable-prefix') {
      $i-prefix: map-get($info, 'variable-prefix');
      @if $i-prefix != '' {
        $project-prefix: str-insert($i-prefix, '-', 100);
      }
    }

    --#{$project-prefix}#{$prefix}-#{$name}: #{$value};
  }
}

@mixin print-variables($data, $prefix) {
  :root {
    @each $name, $value in $data {
      @include print-var-prop($prefix, $name, $value);
    }
  }
}

// Return --prop:value; with project prefix
@mixin get-variable($prop,$value) {
  @if $value != '' {
    $project-prefix: '';

    @if map-has-key($info, 'variable-prefix') {
      $i-prefix: map-get($info, 'variable-prefix');
      @if $i-prefix != '' {
        $project-prefix: str-insert($i-prefix, '-', 100);
      }
    }

    --#{$project-prefix}#{$prop}: #{$value};
  }
}

// Return --prop with project prefix
@function get-variable($prop) {
  $project-prefix: '';

  @if map-has-key($info, 'variable-prefix') {
    $i-prefix: map-get($info, 'variable-prefix');
    @if $i-prefix != '' {
      $project-prefix: str-insert($i-prefix, '-', 100);
    }
  }

  @return --#{$project-prefix}#{$prop};
}

/**
 * Spacing
 * https://stackoverflow.design/product/base/spacing/
 */


// Margin and Padding
$classes: ("m":"margin", "p":"padding");

/* Margin auto */
.m-auto {
  margin: auto;
}

@each $prefix, $prop in $coordinates {
  .m#{$prefix}-auto {
    margin-#{$prop}: auto;
  }
}

/**
 * Vertical Spacing
 */

@mixin vertical-spacing($vertical_spacing) {
  @each $breakpoint, $values in $vertical_spacing {
    @if is-breakpoint($breakpoint) {
      // Responsive value
      @include media-screen($breakpoint) {
        :root {
          @for $i from 1 through length($values) {
            $value: nth($values, $i);
            $postfix: get-desktop-value($i, $vertical_spacing);

            //@debug $value, $postfix;

            /// if changed compare with desktop value
            @if $value != $postfix {
              $previous_postfix: get-previous-breakpoint-value($i, $value, $breakpoint, $vertical_spacing);

              // and changed compare with the previous value
              @if $value != $previous_postfix {
                @include get-variable(spacing-#{replace-prop($postfix)}, #{format-value($value)});
              }
            }
          }
        }
      }
    } @else {
      // Desktop value
      :root {
        @for $i from 1 through length($values) {
          $value: nth($values, $i);
          $postfix: get-previous-breakpoint-value($i, $value, $breakpoint, $vertical_spacing);
          //@debug $value, $postfix;

          @include get-variable(spacing-#{replace-prop($postfix)}, #{format-value($value)});
        }
      }

      // margin padding top bottom
      @for $i from 1 through length($values) {
        $value: nth($values, $i);
        $postfix: get-previous-breakpoint-value($i, $value, $breakpoint, $vertical_spacing);
        //@debug $value, $postfix;

        $var: var(#{get-variable(spacing-#{replace-prop($postfix)})});

        .pt#{replace-prop($postfix)} {
          padding-top: #{$var};
        }
        .pb#{replace-prop($postfix)} {
          padding-bottom: #{$var};
        }
        .mt#{replace-prop($postfix)} {
          margin-top: #{$var};
        }
        .mb#{replace-prop($postfix)} {
          margin-bottom: #{$var};
        }
      }

    }
  }
}

@include vertical-spacing($vertical_spacing);
/**
 * Positioning
 * https://stackoverflow.design/product/base/position/
 */


/* Positions */
$positions: absolute fixed relative static sticky;
@each $prop in $positions {
  .ps-#{$prop} {
    position: #{$prop};
  }
}

/* Coordinates */
@mixin position-coordinates($value,$postfix) {

  @each $name, $prop in $coordinates {
    //@debug $name+'-'+$value+'-'+format-postfix($postfix);
    .#{$name}#{format-postfix($postfix)} {
      #{$prop}: format-value($value);
    }
  }
}

@each $breakpoint, $values in $coordinate_values {
  @include media-screen($breakpoint) {
    @for $i from 1 through length($values) {
      $value: nth($values, $i);
      $postfix: get-previous-breakpoint-value($i, $value, $breakpoint, $coordinate_values);

      @include responsive($breakpoint, $value, $postfix) {
        @include position-coordinates($value, $postfix);
      }
    }
  }
}

/* Coordinates - auto */
@mixin position-coordinates-auto() {
  @each $name, $prop in $coordinates {
    .#{$name}-auto {
      #{$prop}: auto;
    }
  }
}

@include position-coordinates-auto();

// print
$dataset: (
        ab-center:(
                inline:'position:absolute' 'top:50%' 'left:50%' 'transform:translate(-50%, -50%)'
        ),
        ab-center-v:(
                inline:'position:absolute' 'top:50%' 'transform:translateY(-50%)'
        ),
        ab-center-h:(
                inline:'position:absolute' 'left:50%' 'transform:translateX(-50%)'
        ),
        ab-full:(
                selectors: '.ab-full, .ab-full-b:before, .ab-full-a:after, .ab-full-ba:before, .ab-full-ba:after',
                inline: 'position:absolute' 'top:0' 'right:0' 'bottom:0' 'left:0'
        ),
        ab-full-content:(
                selectors: '.ab-full-b:before, .ab-full-a:after, .ab-full-ba:before, .ab-full-ba:after',
                inline: 'content:""'
        ),
        z-hide:(
                inline:'z-index:-1'
        ),
        z-index: (
                prefix:'z',
                hyphen:false,
                value:1 2 3 4 5 10 20 30 40 100 99999999
        ),
);
@include print($dataset);
/**
 * Typography
 * https://stackoverflow.design/product/base/typography/
 */
$dataset: (
        font-family:(
                type:value-key-as-postfix,
                value:(
                        sans:'-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif',
                        serif:'Georgia, Cambria, "Times New Roman", Times, serif'
                )
        ),
        color:(
                type:value-key-as-postfix,
                prefix:'fc',
                value:(
                        "white":'#fff',
                        "black":'#000'
                )
        ),
        background-color:(
                type:value-key-as-postfix,
                prefix:'bg',
                value:(
                        "white":'#fff',
                        "black":'#000'
                )
        ),
        font-weight: (
                type:value-key-as-postfix,
                value:(
                        normal:400,
                        bold:700
                )
        ),
        line-height:(
                type:value-key-as-postfix,
                prefix:'lh',
                value:(
                        "xs":'1',
                        "sm":'1.15',
                        "md":'1.3',
                        "lg":'1.6',
                        "xl":'1.92',
                        "xxl":'2',
                        "unset":'unset',
                )
        ),
        font-style: normal italic,
        text-transform: capitalize lowercase uppercase none unset,
        text-decoration: underline none,
        text-align: left center right justify,
        white-space: normal nowrap pre pre-wrap pre-line,
        word-break: normal break-all keep-all inherit initial unset,
        break-word:(
                type:mixin
        )
);

// custom font family
$font_families: ();
@each $name, $data in $fonts {
  @if type-of($data) == 'map' {
    $font-face: map-get($data, 'font-face');
    $font_families: map.set($font_families, $name, $font-face);

    // has defined weights
    @if map-has-key($data, 'weight') {
      $weight: map.get($data, 'weight');

      @if type-of($weight) == 'list' {
        @each $w in $weight {
          .f-#{$name}-#{$w} {
            font-family: #{$font-face};
            font-weight: #{$w};
          }
        }
      }
      @if type-of($weight) == 'number' {
        .f-#{$name}-#{$weight} {
          font-family: #{$font-face};
          font-weight: #{$weight};
        }
      }
    }

  }
  @if type-of($data) == 'string' {
    $font_families: map.set($font_families, $name, $data);
  }
}

$custom_font_family: map-merge(map-get($dataset, "font-family", "value"), $font_families);
$dataset: map.set($dataset, "font-family", "value", $custom_font_family);

// custom color
$custom_color: map-merge(map-get($dataset, "color", "value"), $colors);
$dataset: map.set($dataset, "color", "value", $custom_color);

// custom background color
$custom_bg_color: map-merge(map-get($dataset, "background-color", "value"), $colors);
$dataset: map.set($dataset, "background-color", "value", $custom_bg_color);


// print
@include print($dataset);

// CSS  variables
@include print-variables($custom_font_family, "font");
@include print-variables($custom_color, "color");
/**
 * Display
 * https://stackoverflow.design/product/base/display/
 */


$dataset: (
        display: block inline inline-block flex inline-flex grid inline-grid table table-cell none unset
);

// print
@include print($dataset);
/**
 * Flex
 * https://stackoverflow.design/product/base/flex/
 */


$dataset: (
        align-content: stretch center flex-start flex-end space-between space-around initial inherit,
        align-items: stretch center flex-start flex-end baseline initial inherit,
        align-self: auto stretch center flex-start flex-end baseline initial inherit,
        flex-direction: row row-reverse column column-reverse initial inherit,
        flex-wrap: nowrap wrap wrap-reverse initial inherit,
        justify-content: flex-start flex-end center space-between space-around space-evenly initial inherit,
        fl-center:(
                inline: 'display:flex' 'align-items:center' 'justify-content:center'
        ),
        fl-center-v:(
                inline: 'display:flex' 'align-items:center'
        ),
        fl-center-h:(
                inline: 'display:flex' 'justify-content:center'
        ),
        fl-grid:(
                inline: 'display:flex' 'flex-wrap:wrap'
        )
);

// print
@include print($dataset);
/**
 * Transitions
 * https://stackoverflow.design/product/base/transitions/
 */


$dataset: (
        transition: (
                selectors: '.t',
                inline: 'transition-duration:.25s' 'transition-property:all' 'transition-timing-function:ease' 'transition-delay:0s'
        ),
        slow:(
                selectors:'.t-slow',
                inline:'transition-duration:.6s'
        ),
        fast:(
                selectors:'.t-fast',
                inline:'transition-duration:.1s'
        ),
        opacity:(
                selectors:'.t-opacity',
                inline:'transition-property: opacity'
        ),
        opacity-color:(
                selectors:'.t-opacity-color',
                inline:'transition-property: opacity, color'
        ),
        transform :(
                selectors:'.t-transform',
                inline:'transition-property: transform'
        ),
        transform-opacity :(
                selectors:'.t-transform-opacity ',
                inline:'transition-property: transform, opacity'
        ),
        transform-opacity-color:(
                selectors:'.t-transform-opacity-color',
                inline:'transition-property: transform, opacity, color'
        ),
        transform-color:(
                selectors:'.t-transform-color',
                inline:'transition-property: transform, color'
        ),
        color :(
                selectors:'.t-color',
                inline:'transition-property: color'
        ),
);

// print
@include print($dataset);
/**
 * Object fit
 * https://stackoverflow.design/product/base/object-fit/
 */


$dataset: (
        object-fit: fill contain cover scale-down none initial inherit,
        object-position: center
);

// print
@include print($dataset);
/**
 * Interactivity
 * https://stackoverflow.design/product/base/interactivity/
 */


$dataset: (
        pointer-events: auto none,
        user-select: auto none,
        user-drag: auto none
);

// print
@include print($dataset);
/**
 * Overflow
 * https://stackoverflow.design/product/base/overflow/
 */


$dataset: (
        overflow: (
                prefix: "overflow",
                value: visible hidden scroll auto,
        ),
        overflow-x: (
                prefix: "overflow-x",
                value: hidden scroll auto,
        ),
        overflow-y: (
                prefix: "overflow-y",
                value: hidden scroll auto,
        ),
);

@include print($dataset);
/**
 * Border radius
 * https://stackoverflow.design/product/base/border-radius/
 */


$dataset: (
        bar-pill: (
                inline: "border-radius: 1000px",
        ),
        bar-circle: (
                inline: "border-radius: 100%",
        ),
        border-radius: (
                prefix: "bar",
                hyphen:false,
                value: 0 3px 5px 10px 15px,
        ),
);

@include print($dataset);
/**
 * Skeleton
 */


.skeleton-bg {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgd2lkdGg9IjEwMHB4IiBoZWlnaHQ9IjEwMHB4Ij4NCjxjaXJjbGUgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBjeD0iNTAiIGN5PSI1MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNTA1MjU0IiBzdHJva2Utd2lkdGg9IjEwIiByPSI0NSIgc3Ryb2tlLWRhc2hhcnJheT0iMTY2IDQ0IiBzdHlsZT0iJiMxMDsgICAgLyogc3Ryb2tlLWRhc2hhcnJheTogMTY2IDQ0OyAqLyYjMTA7Ij4NCiAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiBkdXI9IjFzIiB2YWx1ZXM9IjAgNTAgNTA7MzYwIDUwIDUwIiBrZXlUaW1lcz0iMDsxIi8+DQo8L2NpcmNsZT4NCjwvc3ZnPg==);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
}

/**
 * Width & Height
 */


$dataset: (
        w-auto: (
                inline: "width: auto",
        ),
        width:(
                prefix: "w",
                hyphen: false,
                value: 0 10% 20% 25% 30% 40% 50% 60% 70% 75% 80% 90% 100%
        ),
        w33:(
                inline: "width: 33.33%",
        ),
        w66:(
                inline: "width: 66.67%",
        ),
        w-screen:(
                inline: "width: 100vw",
        ),
        h-auto: (
                inline: "height: auto",
        ),
        height:(
                prefix:"h",
                hyphen:false,
                value:0 100%
        ),
        h-screen:(
                inline: "height: 100vh",
        ),
);

@include print($dataset);
/**
 * Cursors
 * https://stackoverflow.design/product/base/cursors/
 */


$dataset: (
        cursor:(
                prefix:'c',
                value:auto default pointer text wait move not-allowed help
        ),
);

// print
@include print($dataset);
/**
 * Aspect Ratio
 */
$dataset: (
        aspect-ratio:(
                type:value-key-as-postfix,
                value:(
                        "auto":"auto",
                        "inherit":"inherit",
                        "unset":"unset",
                        "1":1,
                        "169":"16/9",
                        "43":"4/3",
                        "12":"1/2",
                )
        )
);

// merge
$custom_aspect_ratio: map-merge(map-get($dataset, "aspect-ratio", "value"), $aspect_ratio);
$dataset: map.set($dataset, "aspect-ratio", "value", $custom_aspect_ratio);

// print
@include print($dataset);

/**
 * Flex grid
 */
.flex-grid-template {
  --grid-gap-x: 30px;
  --grid-gap-y: 30px;
  --grid-col: 3;

  /* calculate new width */
  --grid-gap-x-total: calc(var(--grid-gap-x) * (var(--grid-col) - 1));
  --grid-space-each: calc(var(--grid-gap-x-total) / var(--grid-col));

  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap-y) var(--grid-gap-x);
}

.flex-grid-template > * {
  width: calc(100% / var(--grid-col) - var(--grid-space-each));
}

@media only screen and (max-width: map-get($breakpoints, "sm")) {
  .flex-grid-template {
    --grid-col: 2;
  }
}

@media only screen and (max-width: map-get($breakpoints, "xs")) {
  .flex-grid-template {
    --grid-col: 1;
  }
}

/**
 * Background object fit
 */
@mixin img-object-fit {
  object-position: center center;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.img-wrapper-cover > img {
  @include img-object-fit;
  object-fit: cover;
}

.img-wrapper-contain > img {
  @include img-object-fit;
  object-fit: contain;
}

/**
 * Clear list style
 */

// for the ul itself
ul.list-style-none,

  // for the ul inside
.list-style-none ul {
  margin: 0;
  list-style: none;
}

ul.list-style-none > li,
.list-style-none ul > li {
  padding: 0;
}


/*
 * Visually hidden
 * https://www.joshwcomeau.com/snippets/react-components/visually-hidden/
 */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}