<% if (pages.length > 0) { %>
    <aside data-aside class="site-sidebar ps-fixed z99999999">
        <div class="site-sidebar__inner h100 bar10px overflow-auto ps-relative z2">
            <% pages.forEach(page => { %>
                <div class="site-sidebar__item">
                    <div class="site-sidebar__item-title ps-relative fl-center-v bar10px"><%= page.title; %></div>

                    <% if (page.pages.length > 0) { %>
                        <div class="site-sidebar__children">
                            <% page.pages.forEach(childPage => { %>

                                <!-- Add active class -->
                                <% const activeClass = typeof pageId !== "undefined" && childPage.id === pageId ? "active" : '' %>

                                <a href="<%= `/${page.base}/${childPage.id}`; %>"
                                   class="site-sidebar__child-item td-none fl-center-v txt_color_white overflow-hidden ps-relative hover-with-background <%= activeClass %>">
                                    <%= childPage.title; %>
                                </a>
                            <% }); %>
                        </div>
                    <% } %>
                </div>
            <% }); %>
        </div>

        <!-- Toggle button -->
        <button class="site-sidebar__button hover-with-background ps-absolute r0 z3 c-pointer" data-toggle="sidebar">
            <span class="site-sidebar__bar d-block ab-center-v"></span>
            <span class="site-sidebar__bar d-block ab-center-v"></span>
            <span class="site-sidebar__bar d-block ab-center-v"></span>
            <span class="site-sidebar__bar d-block ab-center-v curve"></span>
            <span class="site-sidebar__bar d-block ab-center-v curve"></span>
        </button>
        <!-- Overlay -->
        <div class="site-sidebar__overlay ps-fixed t0 l0 r0 b0 z1" data-toggle="sidebar"></div>
    </aside>
<% } %>