<%- include('../partials/head.ejs', {isHome: true}) %>

<div class="site-content" data-template="home">
    <style>
        body {
            overflow:hidden;
        }
    </style>
    <canvas class="ps-fixed t0 l0" id="webgl"></canvas>
</div>

<%- include('../partials/end.ejs') %>